# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Default output
a.out

# Emacs backup files
*~

# Automake cache directory
autom4te.cache

# Typical build directory
bd

# ./configure artifacts
Makefile
config.h
config.log
config.status
demo/.deps/
demo/Makefile
doc/Makefile
lib/.deps/
lib/Makefile
libtool
stamp-h1
testsuite/Makefile

